/* @font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2'),
        url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
} */
body {
  background-color: bisque;
  justify-content: center;
}

.title {
  color: red;

  /* font-family: 'MyFont'; */
  text-align: center;
  width: 100%;
}

.mainapp {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border: 5px;
  border-color: black;
  border-radius: 0%;
  border-style: dashed;
}

.editButtonsDiv {
  margin-left: auto;
  margin-right: 20px;
}

#editForm {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.589);
}

#newItemTitle {
  width: 98%;
}

.buttondivs > * {
  width: 100%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.todo-item {
  margin-top: 10px;
  text-align: left;
  color: black;
  padding-left: 30px;
  display: flex;
}

.todo-title {
  color: black;
}

i {
  padding-left: 30px;
}
